
#main-title{
    text-align: center;
    border: 4px dashed #FFFFFF;
    padding: 10px;
    font-family:"Playwrite AT", cursive;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaca99;   
    color: #4b2e2e;              
    margin: 0;
}

h1, h2 {
    font-family: "Playfair Display", serif;
}

.navbar {
    font-family: "Rubik Doodle Shadow";
    background-color: #8b4513;   
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: 500;
}

.navbar a:hover {
    color: #eaca99;
}

.container {
    padding: 20px;
}

.highlight {
    color: #b22222;
    font-weight: bold;
}

.float-box {
    float: right;
    width: 150px;
    margin: 15px;
    padding: 10px;
    background-color: #ffe6cc;
    border-radius: 10px;
}

.float-box img {
    width: 100%;
    border-radius: 8px;
}

.card {
    background-color: #f2ebe3;
    padding: 15px;
    border-radius: 10px;
}
