
.grid-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  text-align: center;
  background-color: gray;
  color:white;

  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto auto auto auto;

  grid-template-areas:
    "header header header"
    "sidebar content1 content1"
    "sidebar content2 content3"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: turquoise;
  padding:50px;
}

aside {
  grid-area: sidebar;
  background-color: violet;
  padding:50px;
}

.content1 {
  grid-area: content1;
  background-color: darkgreen;
  padding:50px;
}

.content2 {
  grid-area: content2;
  background-color: purple;
  padding:50px;
}

.content3 {
  grid-area: content3;
  background-color: blue;
  padding:50px;  
}

footer {
  grid-area: footer;
  background-color: pink;
  padding:50px;  
}

.filter-img {
  width: 100px;
  filter: opacity(75%) blur(2px);
}

.transform-box {
  background: white;
  color: black;
  padding: 20px;
  display: inline-block;
}

.transform-box:hover {
  transform: scale(1.5) rotate(25deg);
}

@keyframes moveBox {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(80px);
  }
}

.animated-box {
  background: yellow;
  color: black;
  padding: 20px;
  display: inline-block;
  animation: moveBox 2s infinite alternate;
}
