body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right top, lightblue, darkblue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    color:white;
}